.nav-board-col{
    width: 1.5px;
    height: 15px;
    background-color: white;
    margin: 0 5px;
}

.accounts{
    flex: 1;

    .btn-account{
        background: none;
        border: 1px solid;
        border-radius: 50%;
    
        .img{
            width: 20px;
        }
    }
}

.btn.btn-secondary{
    padding: 2px;
}

.navbar-light .navbar-nav .nav-link {
    padding: 2px;
}
