$navbar-bg-color: #4126ab;


.navbar-app{
    background-color: $navbar-bg-color;
    color: white;
    margin: 0 !important;
    padding: 0;

    .nav-logo{
      text-decoration: none;
    }

    .nav-right{
      text-align: end;
    }
    .nav-grow{
      flex-grow: 1;
    }
  }